/* src/components/ExploreCategories.module.css */

.exploreSection {
    padding: 40px 20px;
    font-weight: bold;
    background-color: #0c0c0c;
    color: #ffffff;
}

.exploreSection h2 {
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 0; 
    padding-left: 30px;
}

/* ------------------ CARROSSEL INFINITO ------------------ */

.carouselContainer {
    position: relative; /* necessário para posicionar as setas */
    width: 100%;
    overflow: hidden; /* evita barra externa */
    display: flex;
    align-items: center;
}

/* Área rolável */
.categoryGrid {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    padding: 20px 0;
    scrollbar-width: none; /* Firefox */
}

.categoryGrid::-webkit-scrollbar {
    display: none; /* Chrome */
}

/* Cada item */
.categoryGrid a {
    min-width: 350px;
    flex: 0 0 auto;
    height: 200px;
}

.categoryGrid .card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* ------------------ SETAS ------------------ */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;

    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;

    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;

    height: 50px;
    width: 50px;
    line-height: 25px;
    text-align: center;

    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

/* ------------------ LIGHT MODE ------------------ */
:global(.light-mode) .exploreSection {
    background-color: #f0f0f0;
    color: #1a1a1a;
}
