
.header.light .logo {
    color: #1a1a1a; 
}

.header.light .logo span {
    color: #e53935; 
}

.header {
    display: block;
    background-color: #1a1a1a;
    border-bottom: 2px solid #333;
    transition: background-color 0.3s;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo {
    font-size: 26px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}

.logo span {
    color: #e53935;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

/* Dropdown de Perfil e Admin */
.menu-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 10px 0;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    width: 250px;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.show {
    display: block;
}

.profile-dropdown ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: block; 
}

.profile-dropdown ul li a {
    display: block;
    padding: 10px 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
}

.profile-dropdown ul li a:hover {
    background-color: #e53935;
    color: #fff;
}


.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 40px;
    background-color: #0d0d0d;
    box-sizing: border-box;
}

.menuList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    margin-right: 20px;
}

.menuItem a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

:global(.light-mode) .menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
}

:global(.light-mode) .icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

:global(.light-mode) .menuItem a {
    color: #1a1a1a; /* Preto */
    font-weight: 500;
}

:global(.light-mode) .menuItem a:hover {
    background-color: #e0e0e0;
    color: #000;
    border-radius: 4px;
}

:global(.light-mode) .searchBar input {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
}